@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap');

body {
    background-color: #131316;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

img {
    max-width: 200px;
    max-height: 200px;
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.workCards {
    display: flex;
    flex-direction: column;
}

.workCard:nth-child(1) {
    transition-delay: 100ms;
}

.workCard:nth-child(2) {
    transition-delay: 200ms;
}

.workCard:nth-child(3) {
    transition-delay: 300ms;
}

