@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap");

body {
    background-color: #212121 !important;
    color: #fff !important;
    font-family: "Space Grotesk", sans-serif;
    padding: 0;
    margin: 0;
    }

.heroText {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7rem 15rem;
    }

    h1 a {
        color: #fff;
        text-decoration: none;
        font-size: 3.5rem;
    }

.fa {
    padding: 1%;
}

.playbtn {
    background-image: url("https://img.icons8.com/ios-filled/50/000000/play-button-circled--v1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #323232;
  color: #fff;
  opacity: 0.2;
  z-index: 1;
    }

#brand {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    }

section {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(min-content, 2fr));
    grid-template-rows: repeat(autofit, minmax(min-content, 1fr));
    padding: 200px;
    }

.workSection {
    display: flex, grid;
    grid-template-rows: repeat(autofit, minmax(min-content, 1fr));
    grid-template-columns: repeat(autofit, minmax(min-content, 1fr));
    justify-content: space-between;
    align-items: center;
    }

button {
        background-color: gray;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 10%;
        color: #fff;
    }

img {
        max-width: 300px;
        max-height: 300px;
    }

h1 {
        font-size: 3rem;
        font-weight: 600;
        margin: 0;
    }
      
h2 {
        padding: 15px 0;
        text-decoration: underline;
    }

.hidden {
        opacity: 0;
        filter: blur(10px);
        transform: translateX(-100%);
        transition: all 2s;
    }
      
.show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

.workSection {
    display: flex;

} 

.patterning {
    background-color: #323232;
}
    
.workCard:nth-child(1) {
        transition-delay: 100ms;
    }
      
.workCard:nth-child(2) {
        transition-delay: 200ms;
    }
      
.workCard:nth-child(3) {
        transition-delay: 300ms;
    }

.about-row {
        display: flex;
        align-items: space-around;
        justify-content: space-between;
    }
      
.about-text {
        padding: 30px;
    }
      
.about-image {
        max-width: 50vw;
    }

.socIcons {
    display: flex;
    justify-content: end;
    font-size: 150%;
    }

.footerText {
    display: flex;
    opacity: 0.2;
    color: white;
    justify-content: center;
}
